<div class="ui cards" *ngFor="let item of localData; let i = index">
    <div class="card">
      <div class="content">
        <div class="header">{{item.firstName}} {{item.lastName}}</div>
        <div class="meta">{{item.contact_no}} <i class="call icon"></i></div>
        <div class="description">
          {{item.dob}}
        </div>
        <div class="description">
          {{item.email}} <i class="at icon"></i>
        </div>
      </div>
      <div class="deleteIcon" data-tooltip="Delete Contact">
        <i class="delete icon" (click)="removeContact(i)"></i>
      </div>
      <div class="editIcon" data-tooltip="Edit Contact">
        <i class="edit icon" (click)="editContact(i)"></i>
      </div>
    </div>
</div>