.deleteIcon {
    position: absolute;
    left: 253px;
    top: 12px;
}

.editIcon {
    position: absolute;
    left: 224px;
    top: 12px;
}

.ui.left.icon.input {
    margin-bottom: 15px;
    width: 95%;
}

.card {
    background-color: #80808029 !important;
}


.ui.cards  {
    float: left !important;
    margin: 0px !important;
}