<h3 *ngIf="flag">If you are not seeing any data here, please add contact form.</h3>
<div style="width: 83%;" class="ui left icon input">
  <input type="text" [(ngModel)]="searchText" placeholder="Search here...">
  <i class="users icon"></i>
</div>
<div class="ui cards showList" *ngFor="let item of localData | filter:searchText; let i = index">
    <div class="card">
      <div class="content">
        <div class="header">{{item.firstName}} {{item.lastName}}</div>
        <div class="meta">{{item.contact_no_type}} : {{item.contact_no}} <i class="call icon"></i></div>
        <div class="description">
          {{item.dob}} <i class="calendar alternate icon"></i>
        </div>
        <div class="description">
          {{item.email}} <i class="at icon"></i>
        </div>
      </div>
      <div class="deleteIcon" data-tooltip="Delete Contact">
        <i class="delete icon" (click)="removeContact(i)"></i>
      </div>
      <div class="editIcon" data-tooltip="Edit Contact">
        <i class="edit icon" (click)="editContact(i)"></i>
      </div>
    </div>
</div>